<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>serverServlet</servlet-name>
    <servlet-class>ch.epfl.seti.server.ServerServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>serverServlet</servlet-name>
    <url-pattern>/seti_epfl/server</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>SETI_EPFL.html</welcome-file>
  </welcome-file-list>

  <context-param>
    <param-name>allowLinking</param-name>
    <param-value>true</param-value>
  </context-param>

</web-app>
